[package]
name = "protocol"
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"

[dependencies]
bytes = { workspace = true }
thiserror = { workspace = true }
common = { workspace = true }
topic = { workspace = true }
