[package]
name = "server"
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"

[dependencies]
tracing = "0.1.44"
tracing-attributes = "0.1.31"
tracing-subscriber = { version = "0.3.22", features = ["env-filter"] }
