name: Ocypode Audit

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - uses: moonrepo/setup-toolchain@3927d571963592235146e8e0b5261206954796a2 # v0
        with:
          auto-install: true
      - run: moon run audit