name: Ocypode CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  moon-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: moonrepo/setup-toolchain@v0
        with:
          auto-install: true
      - run: moon ci
